body,html{
    padding:0;
    margin:0;
}

.midtextclr{
    color:#90EE90;
}
/* .papperoni,.cheese,.chickenbbq,.Buffalo,.Hawaii,.Meat>img{
    border-radius: 2rem;
} */

.papperoni img{
    border-radius: 10%;
}
.cheese img{
    border-radius: 10%;
}
.chickenbbq img{
    border-radius: 10%;
}
.Buffalo img{
    border-radius: 10%;
}
.Hawaii img{
    border-radius: 10%;
}
.Meat img{
    border-radius: 10%;
}
/* phone screen */

@media only screen and (max-width:480px){
    .fas{
        position:fixed;
        top:0;
        background-color: white;

    }
    .navigation{
        position:relative;
        height:4rem;
        margin:1rem 0;
    }
    .navigation{
        height:100%;
        width:0;
        background-color: #111;
        position:relative;
        z-index:1;
        top:0;
        left:0;
        overflow-x: hidden;
        padding-top:30px;
        transition:0.8s;
    }
    /* middle section*/
    .middle{
        position:relative;
        text-align: center;
    }
    #midtext{
        font-weight: 700;
        font-size: 3rem;
    }

    .middle-pic{
        margin:5rem 0 3rem 0;
    }
    .middle-pic img{
        height:213px;
        width:177px;
    }

    .order-section{
        text-align: center;
    }
    .order-section>h2{
        font-weight: 700;
        font-size: 2rem;
    }
    .order-section>h3{
        color:green;
        font-weight: 700;
        margin-bottom: 2rem;
    }
   .papperoni,.cheese,.chickenbbq,.Buffalo,.Hawaii,.Meat{
       font-weight: 700;
   }

   .size-section{
       text-align: center;
       position: relative;
       height:4rem;
   }
   .size{
      position:absolute;
       display: flex;
       flex-direction: row;
       left:50%;
       transform: translateX(-50%);
   }
   .crust-section{
       margin:4rem 0 0 0;
       text-align: center;
   }
   .toppings-section{
       text-align: center;
   }
   .ordersNo{
       width:60%;
       margin:4rem 0;
   }
}



/*tablet screen*/
@media screen and (min-width:481px) and (max-width:768px){

    .fas{
        position:fixed;
        top:0;
        background-color: white;

    }
    .navigation{
        position:relative;
        height:4rem;
        margin:1rem 0;
    }
    .navigation{
        height:100%;
        width:0;
        background-color: #111;
        position:relative;
        z-index:1;
        top:0;
        left:0;
        overflow-x: hidden;
        padding-top:30px;
        transition:0.8s;
    }
    /* middle section*/
    .middle{
        position:relative;
        text-align: center;
    }
    #midtext{
        font-weight: 700;
        font-size: 3rem;
    }

    .middle-pic{
        margin:5rem 0 3rem 0;
    }
    .middle-pic img{
        height:213px;
        width:177px;
    }

    .order-section{
        text-align: center;
    }
    .order-section>h2{
        font-weight: 700;
        font-size: 2rem;
    }
    .order-section>h3{
        color:green;
        font-weight: 700;
        margin-bottom: 2rem;
    }
   .papperoni,.cheese,.chickenbbq,.Buffalo,.Hawaii,.Meat{
       font-weight: 700;
   }

   .size-section{
       text-align: center;
       position: relative;
       height:4rem;
   }
   .size{
      position:absolute;
       display: flex;
       flex-direction: row;
       left:50%;
       transform: translateX(-50%);
   }
   .crust-section{
       margin:4rem 0 0 0;
       text-align: center;
   }
   .toppings-section{
       text-align: center;
   }
   .ordersNo{
       width:60%;
       margin:4rem 0;
   }
}





/* large tablet screen*/
@media screen and (min-width:769px) and (max-width:1024px){

}

/* laptop and desktop screens*/
@media screen and (min-width:1025px){

}